.card{
    /* height: 6em; */
}
.card:hover {
    cursor: pointer;
}
.news-image{
    /* height: 4em;
    width: 7em; */
}
.modal-open{
    top: 100px;
}

.ellipsis {
    /* overflow: hidden; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* -webkit-box-orient: vertical; */
    text-overflow: ellipsis;
}