
<div class="d-flex flex-column">

    <div class="spinner-container  d-flex justify-content-center">
        <mat-progress-spinner class="small-spinner mt-5" *ngIf="isLoading" mode="indeterminate" [diameter]="40"></mat-progress-spinner>
    </div>
    <app-alerts class="mt-4" *ngIf="!isLoading" [isInvalidTicker]=isInvalidTicker></app-alerts>
    <app-stock-details *ngIf="showContent&&!isLoading"></app-stock-details>
    <app-tabs-content *ngIf="showContent&&!isLoading"></app-tabs-content>
</div>
