
<div class="container">
    <h1 class="my-3 mt-5">My Watchlist</h1>
    <div class="spinner-container  d-flex justify-content-center">
        <mat-progress-spinner class="small-spinner" *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="isEmpty">
        Currently you don't have any stock in your wathclist.
    </div>
    <div *ngIf="!isEmpty">
        <div class="col mt-2 px-0" *ngFor="let item of watchListData">
            <div class="card" (click)="redirect(item)">
                
                <div class="card-body pt-0 pl-0">
                    <button class="btn clickable ml-1 "  type="button" (click)="removeItem(item)"><i class="fa fa-times"></i></button>
                  <div class="row pl-3">
                    <div class="col-6"><h2>{{item.name}}</h2></div>
                    <div class="col-6"><h2 [ngClass]="{'green':item.d>0,'red':item.d<0,'black':item.d==0}">{{item.c| number : '1.2-2'}}</h2></div>
                  </div>
                  <div class="row pl-3">
                    <div class="col-6">{{item.companyName}}</div>
                    <div class="col-6" [ngClass]="{'green':item.d>0,'red':item.d<0,'black':item.d==0}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" *ngIf="item.d<0">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16"  *ngIf="item.d>0">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                      {{item.d| number : '1.2-2'}}({{item.dp| number : '1.2-2'}}%)</div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
</div>