<div class="row stock-details">
    <div class="col-md-4 border border-primary description-box">
        <p class="text-center ticker">{{ticker}}</p>
        <p class="text-center cmpName">{{companyName}}</p>
        <p class="text-center exchange">{{exchangeCode}}</p>
    </div>
    <div class="col-md-4 border border-primary d-flex flex-column">
        <img class="logo_img" src="{{logo}}">
        <p class="green text-center market-status" *ngIf="!marketClosed">Market is Open</p>
        <p class="red text-center market-status" *ngIf="marketClosed">Market Closed on {{currTimeStamp}}</p>
    </div>
    <div class="col-md-4 border border-primary description-box">
        <p class="text-center price {{color}}">{{lastPrice}}</p>
        <p class="text-center change {{color}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" *ngIf="change<0">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16"  *ngIf="change>=0">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
            </svg>
            {{change}} ({{changePercent}})
        </p>
        <p class="text-center timestamp green">{{currTimeStamp}}</p>
    </div>
</div>
