<div class="col mb-4 text-center">
    <div class=" d-flex row justify-content-center">
        <h2 class="text-center font-weight-bold">Insider Sentiments</h2>
        <table class=" w-50 table text-center mb-5">
            <thead>
                <tr>
                    <td class="col-4 border-top-0 font-weight-bold">{{symbol}} Inc</td>
                    <td class="col-4 col-4 border-top-0 font-weight-bold">MSPR</td>
                    <td class="col-4 col-4 border-top-0 font-weight-bold">Change</td>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-weight-bold">Total</td>
                <td>{{totalMSPR| number : '1.2-2'}}</td>
                <td>{{totalChange| number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td  class="font-weight-bold">Positive</td>
                <td>{{posMSPR| number : '1.2-2'}}</td>
                <td>{{posChange| number : '1.2-2'}}</td>
              </tr>
              <tr>
                <td  class="font-weight-bold">Negative</td>
                <td>{{negMSPR| number : '1.2-2'}}</td>
                <td>{{negChange| number : '1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <highcharts-chart
            [Highcharts] = "Highcharts_rec" 
            [options] = "chartOptions_rec" 
            style = "display: block;">
            </highcharts-chart>
        </div>
        <div class="col-md-6">
            <highcharts-chart
            [Highcharts] = "Highcharts_eps" 
            [options] = "chartOptions_eps" 
            style = "display: block;">
            </highcharts-chart>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>