<div class="alert alert-success alert-dismissible fade show text-center align-items-center" role="alert" *ngIf="buyAlert.flag">
    <p class="mb-0">{{buyAlert.ticker}} bought successfully.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show text-center align-items-center" role="alert" *ngIf="sellAlert.flag">
    <p class="mb-0">{{sellAlert.ticker}} sold successfully.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container">
    <h1 class="my-3 mt-5">My Portfolio</h1>
    <h3 class="">Money in Wallet: ${{money}}</h3>
    <div *ngIf="!isEmpty">
        <div class="col mt-2 px-0" *ngFor="let item of portfolioList">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="mb-0 mr-2">{{item.name}}</h2>{{item.companyName}}
                </div>
                <div class="card-body pt-0 pl-0">
                    
                  <div class="row pl-3">
                    <div class="col-3"><h4 >Quantity:</h4></div>
                    <div class="col-3">{{item.qty}}</div>
                    <div class="col-3"><h4>Change:</h4></div>
                    <div class="col-3"[ngClass]="{'green':item.change>0,'red':item.change<0,'black':item.change==0}">{{item.change}}</div>
                  </div>
                  <div class="row pl-3 mb-1">
                    <div class="col-3"><h4>Avg. Cost /Share:</h4></div>
                    <div class="col-3">{{item.avgCost}}</div>
                    <div class="col-3"><h4>Current Price:</h4></div>
                    <div class="col-3"[ngClass]="{'green':item.change>0,'red':item.change<0,'black':item.change==0}">{{item.currentPrice}}</div>
                  </div>
                  <div class="row pl-3 mb-1">
                    <div class="col-3"><h4>Total Cost:</h4></div>
                    <div class="col-3">{{item.totalCost}}</div>
                    <div class="col-3"><h4>Market Value:</h4></div>
                    <div class="col-3"[ngClass]="{'green':item.change>0,'red':item.change<0,'black':item.change==0}">{{item.marketValue}}</div>
                  </div>
                </div>
                <div class="d-flex card-footer">
                    <button type="button" class="btn btn-primary"(click)="openModal('buy',item)">Buy</button>
                    <button type="button" class="btn btn-danger ml-2" (click)="openModal('sell',item)">Sell</button>
                </div>
                
              </div>
        </div>
    </div>
    
</div>