<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
             <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-spinner *ngIf="isLoading" matSuffix diameter="20"></mat-spinner>
             <mat-option *ngFor="let option of filteredOptions | async" [value]="option.symbol">
                {{ option.symbol }} | {{ option.description }}
              </mat-option>
            </mat-autocomplete>
            
    </mat-form-field>
  </form>
  <!-- <div *ngFor="let option of options1">{{option.symbol}}</div> -->
  