<div class="row justify-content-center overflow-hidden">
    <div class="col-md-6  mt-3" *ngFor="let item of topNews; let i=index">
      
        <div class="card rounded" id="{{item.id}}" (click)="open($event)">
        <div class="card-body row align-items-center">
            <div class="col-md-3 col-12 text-center"><img src="{{item.image}}" class="news-image rounded img-fluid"></div>
            <div class="col-md-9 text-center ellipsis"><p class="d-inline ">{{ item.headline }}</p></div>
        </div>
      </div>
    </div>
</div>

<!-- <div class="card rounded" id="test" (click)="open()">
    <div class="card-body row align-items-center">
      
    <div class="col-md-9 text-center "><p class="d-inline">adsd</p></div>
</div> -->



<!-- <ng-template #content let-modal>
    <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
					<input
						id="dateOfBirth"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template> -->